.heroSection {
  height: calc(100vh - 90px);
  /* z-index: -1; */
}
.heroContainer {
  z-index: 2;
}
.expandableImage {
  position: absolute;
  top: 0px;
  right: -150px;
  width: 1000px;
  height: 100vh;
  background: url("/images/background.png") no-repeat;
  background-size: contain;
  background-position: calc(100% + 50px) -30px;
}
@media screen and (max-width: 1600px) {
  .expandableImage {
    right: -100px;
  }
  @media screen and (max-width: 1500px) {
    .expandableImage {
      right: -50px;
    }
  }
  @media screen and (max-width: 1400px) {
    .expandableImage {
      right: 0px;
    }
  }

  @media screen and (max-width: 1200px) {
    .expandableImage {
      background-position: calc(100% + 150px) -30px;
    }
  }
  @media screen and (max-width: 1000px) {
    .expandableImage {
      background-position: calc(100% + 350px) -30px;
    }
  }
  @media screen and (max-width: 800px) {
    .expandableImage {
      background-position: calc(100% + 380px) -30px;
    }
  }
  @media screen and (max-width: 700px) {
    .expandableImage {
      background:
        linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
        url("/images/background.png") no-repeat;
      background-position: calc(100% + 400px) -30px;
    }
  }
}
